* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que padding y borders no aumenten el ancho/alto total */
}

div.container-fluid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.navbar>.container-fluid {
  align-items: normal;
}

.navbar-logo {
  align-self: center;
}

.navbar-shorcuts {
  display: flex;
}

.navbar-toggler-container {
  flex: 1;
  place-content: center;
  text-align: center;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: column;
}

.cartImg {
  width: 50px;
  height: 50px;
  transition: transform 0.6s ease, box-shadow 0.3s ease; /* Ajusta la duración del transform */
}


.cart-icon-container {
  display: flex;
  border: 1px solid rgba(139, 134, 134, 0.225);
  border-radius: 6px;
  padding: 5px;
  align-items: flex-end;
  flex-direction: row;
  
}

.cart-icon-container:hover {
  transform: scale(1.1); /* Agrandar la imagen */
  box-shadow: none; /* Eliminar la sombra */ 
}

img.logo {
  width: 170px;
  height: 170px;
    position: relative;
    padding: 10px;
    transition: transform 0.6s ease, box-shadow 0.3s ease; /* Ajusta la duración del transform */
}
  
  .logo:hover {
    transform: scale(1.1); /* Agrandar la imagen */
    box-shadow: none; /* Eliminar la sombra */
  }

  .navbar-shorcuts .cart-container:first-of-type {
    visibility: hidden;
  }

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #333; /* Color del texto */
  transition: color 0.3s ease; /* Suaviza el cambio de color */
  margin: 10px;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #333; /* Color del subrayado */
  left: 0;
  bottom: 0;
  transition: width 0.3s ease; /* Suaviza la animación del subrayado */
}

.nav-link:hover {
  color: #000; /* Color del texto al hacer hover */
}

.nav-link:hover::after {
  width: 100%; /* Expande el subrayado al ancho completo del enlace */
}

.main-bkg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.greeting {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: #e5e5e5de;
  margin-bottom: 0;
  width: 100%;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  background-color:rgba(48, 48, 48, 0.103);
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 200px; /* Tamaño fijo o puedes ajustarlo */
  flex: 0 1 auto; /* Flexibilidad ajustada para mantener el tamaño de la tarjeta */
}

.card-body {
  border-top: 1px solid #efefefcf;
  display: block;
  text-align: center;
}

.detail-container{
  display: flex;
  justify-content: center;
  background-color:rgba(48, 48, 48, 0.103);
  
  width: 100%;
  height: 100%;

}

.btn-primary {
  background-color: #4682b4;
  border-color: #4682b4;
}

.btn-primary:hover{
  background-color: #36648B;
  border-color: #36648B;

}


bs-btn-active-bg:active {
  background-color: #2C5377; /* Color para el estado activo */
}

.limpiar-carrito{
  
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #4682b4;
    border-color: #4682b4;
    margin: 10px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
   
}
  
  .limpiar-carrito:hover {
    background-color: #36648B;
  border-color: #36648B;
  }
  
  .limpiar-carrito:active {
    background-color: #2C5377;
    border-color: #36648B;
  }
  

.controls {
  display: flex;
  justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.counter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #f0f8ff; /* Fondo celeste claro */
  border-radius: 12px;
  overflow: hidden;
}

/* Estilos para las celdas del encabezado */
thead th {
  background-color: #4682b4; /* Celeste más oscuro */
  color: white;
  text-align: left;
  padding: 12px;
  font-size: 1rem;
}

/* Estilos para las filas de datos */
tbody td {
  background-color: #e6f2ff; /* Fondo celeste claro */
  color: #333; /* Texto oscuro */
  padding: 12px;
  border-bottom: 1px solid #cce6ff;
}

/* Estilo para la última fila (Precio total) */
tbody tr:last-child td {
  background-color: #cce6ff; /* Fondo celeste medio */
  font-weight: bold;
  color: #000;
}

/* Estilos para las filas cuando se pasa el mouse por encima */
tbody tr:hover td {
  background-color: #b0c4de; /* Gris celeste más oscuro */
}


/* Bordes redondeados para las celdas de la tabla */
tbody tr:first-child td:first-child {
  border-top-left-radius: 12px;
}

tbody tr:first-child td:last-child {
  border-top-right-radius: 12px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}


footer {
  background-color: rgba(0, 0, 0, 0.527);
  height: 2rem;
  color: #e5e5e5de;
  text-align: center;
}


