* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que padding y borders no aumenten el ancho/alto total */
}

div.container-fluid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.navbar>.container-fluid {
  align-items: normal;
}

.navbar-logo {
  align-self: center;
}

.navbar-shorcuts {
  display: flex;
}

.navbar-toggler-container {
  flex: 1;
  place-content: center;
  text-align: center;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: column;
}


.qtyItems {
  text-decoration: none !important;
  color: inherit; /* Mantiene el color del texto por defecto */
}

.cartImg {
  width: 50px;
  height: 50px;
  transition: transform 0.6s ease, box-shadow 0.3s ease; /* Ajusta la duración del transform */
}


.cart-icon-container {
  display: flex;
  border: 1px solid rgba(139, 134, 134, 0.225);
  border-radius: 6px;
  padding: 5px;
  align-items: flex-end;
  flex-direction: row;
  text-decoration: none !important;
  color: rgb(36, 36, 36);
  background-color: #b2dbf31b;
  
}

.cart-icon-container:hover {
  transform: scale(1.1); /* Agrandar la imagen */
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.113)
}

img.logo {
  width: 200px;
  height: 200px;
    position: relative;
    padding: 10px;
    transition: transform 0.6s ease, box-shadow 0.3s ease; /* Ajusta la duración del transform */
  border-radius: 100%;
}
  
  .logo:hover {
    transform: scale(1.1); /* Agrandar la imagen */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.113)
  }

  .navbar-shorcuts .cart-container:first-of-type {
    visibility: hidden;
  }

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #333; /* Color del texto */
  transition: color 0.3s ease; /* Suaviza el cambio de color */
  margin: 10px;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #333; /* Color del subrayado */
  left: 0;
  bottom: 0;
  transition: width 0.3s ease; /* Suaviza la animación del subrayado */
}

.nav-link:hover {
  color: #000; /* Color del texto al hacer hover */
}

.nav-link:hover::after {
  width: 100%; /* Expande el subrayado al ancho completo del enlace */

}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre las huellas */
  height: 100vh; /* Centra verticalmente en pantalla completa */
}

.loader-footprint {
  width: 100px;
  display: block;
  animation: walk 1s linear infinite;
}

@keyframes walk {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

.loader-footprint:nth-child(2) {
  animation-delay: 0.2s;
}

.loader-footprint:nth-child(3) {
  animation-delay: 0.4s;
}



.main-bkg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #c0e7f3, #6baed6, #2a6496);
  color: #ffffff;
  margin-bottom: 0;
  width: 100%;
  font-size: 2.5rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center;
  letter-spacing: 2px; /* Espaciado entre letras */
  margin-top: 15px;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  background-color:rgba(48, 48, 48, 0.103);
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 200px; /* Tamaño fijo o puedes ajustarlo */
  flex: 0 1 auto; /* Flexibilidad ajustada para mantener el tamaño de la tarjeta */
}

.card-body {
  border-top: 1px solid #efefefcf;
  display: block;
  text-align: center;
}

.detail-container{
  display: flex;
  justify-content: center;
  background-color:rgba(48, 48, 48, 0.103);
  
  width: 100%;
  height: 100%;

}

.btn-primary {
  background-color: #4682b4;
  border-color: #4682b4;
}

.btn-primary:hover{
  background-color: #36648B;
  border-color: #36648B;

}


bs-btn-active-bg:active {
  background-color: #2C5377; /* Color para el estado activo */
}

.limpiar-carrito{
  
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #4682b4;
    border-color: #4682b4;
    margin: 10px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
   
}
  
  .limpiar-carrito:hover {
    background-color: #36648B;
  border-color: #36648B;
  }
  
  .limpiar-carrito:active {
    background-color: #2C5377;
    border-color: #36648B;
  }

  .carrito-vacio {
    background-color: #f0f8ff; /* Celeste claro */
    border: 1px solid #d3d3d3; /* Gris */
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    color: #333; /* Gris oscuro para el texto */
    height: 535px;

  }

  .carrito-vacio h1 {
    color: #005f73; /* Celeste más oscuro */
    margin-bottom: 20px;
   
    
  }

  div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #5a9bd5 !important;
    border-color: #5a9bd5 !important;
    margin: 10px;
    color: #fff;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para dar profundidad */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}
  

.controls {
  display: flex;
  justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.counter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #f0f8ff; /* Fondo celeste claro */
  border-radius: 12px;
  overflow: hidden;
}

/* Estilos para las celdas del encabezado */
thead th {
  background-color: #4682b4; /* Celeste más oscuro */
  color: white;
  text-align: left;
  padding: 12px;
  font-size: 1rem;
}

/* Estilos para las filas de datos */
tbody td {
  background-color: #e6f2ff; /* Fondo celeste claro */
  color: #333; /* Texto oscuro */
  padding: 12px;
  border-bottom: 1px solid #cce6ff;
}

/* Estilo para la última fila (Precio total) */
tbody tr:last-child td {
  background-color: #cce6ff; /* Fondo celeste medio */
  font-weight: bold;
  color: #000;
}

/* Estilos para las filas cuando se pasa el mouse por encima */
tbody tr:hover td {
  background-color: #b0c4de; /* Gris celeste más oscuro */
}


/* Bordes redondeados para las celdas de la tabla */
tbody tr:first-child td:first-child {
  border-top-left-radius: 12px;
}

tbody tr:first-child td:last-child {
  border-top-right-radius: 12px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.form-container {
  background-color: #f0f8ff;
  padding: 40px;
  max-width: fit-content;
  margin: 70px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.style-form{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  
}

label {
  margin-bottom: 8px;
  color: #333; /* Gris oscuro */
  font-weight: bold;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc; /* Gris claro */
  border-radius: 8px;
  background-color: #ffffff; /* Blanco */
  font-size: 16px;
  color: #333; /* Gris oscuro */
}

input:focus {
  outline: none;
  border-color: #00b4d8; /* Celeste pastel más intenso */
  box-shadow: 0px 0px 5px rgba(0, 180, 216, 0.5);
}

.submit-btn {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  background-color: #5a9bd5;
  border-color: #5a9bd5;
  margin: 10px;
  padding: 0.75rem 1.5rem; /* Botón más grande */
  font-size: 1.25rem; /* Texto más grande */
  line-height: 1.5;
  border-radius: 0.5rem; /* Bordes más redondeados */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para dar profundidad */
  transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */

}

.submit-btn:hover {
  background-color: #4a8ac1;
  border-color: #4a8ac1;
  transform: translateY(-2px); /* Eleva ligeramente el botón al hacer hover */
}

.btn-continuar-compra {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  background-color: #5a9bd5;
  border-color: #5a9bd5;
  margin: 10px;
  padding: 0.75rem 1.5rem; /* Botón más grande */
  font-size: 1.25rem; /* Texto más grande */
  line-height: 1.5;
  border-radius: 0.5rem; /* Bordes más redondeados */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para dar profundidad */
  transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

.btn-continuar-compra:hover {
  background-color: #4a8ac1;
  border-color: #4a8ac1;
  transform: translateY(-2px); /* Eleva ligeramente el botón al hacer hover */
}

.btn-continuar-compra:active {
  background-color: #41769b;
  border-color: #4a8ac1;
  transform: translateY(0); /* Retorna a su posición original al hacer clic */
}


footer {
  background-color: rgba(0, 0, 0, 0.527);
  height: 2rem;
  color: #e5e5e5de;
  text-align: center;
  
}


